@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


:root{
  --shareBtn:#6C5BEC;
  --bg:#DFEFF6;
  --shadow2:rgba(0, 0, 0, 0.04) 0px 3px 5px;
  --outer-shadow:3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0:0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;  
}

img{
  width: 100%;
}
.scroll-header{
  background-color:var(--bg);
  box-shadow: var(--shadow2);
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  background-color:var(--bg);
}
header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:10px 100px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  z-index:1;
}
header .logo{
  position: relative;
  max-width:45px;
}

header ul{
  position: relative;
  display: flex;
}
header ul li{
  list-style: none;
}
header ul li a{
  display: inline-block;
  color: #333;
  font-weight: 400px;
  margin-left: 40px;
  text-decoration: none;
}
header ul li a:hover{
  color: #017143;
}
.close,
.menu{
  cursor: pointer;
  width: 35px;
  height: 35px;
  box-shadow: var(--inner-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: none;
}
.close:hover,
.menu:hover{
  background-color: #017143;
  box-shadow: var(--outer-shadow);
  color: white;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .textBox{
  position: relative;
  max-width:600px;
}
.content .textBox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 500;
}
.content .textBox h2 span{
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p{
  color: #333;
  line-height: 1.5em;
}
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color:var(--bg);
  box-shadow:var(--inner-shadow);
  border-radius:5px;
  color: #017143;
  font-weight: 500;
  letter-spacing:1px;
  text-decoration: none;
  transition: .5s ease;
}
.content .textBox a:hover{
  background-color: #017143;
  color:white;
  box-shadow: var(--outer-shadow);
}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right:50px;
  margin-top: 50px;
}
.content .imgBox img{
  max-width:340px;
}
.thumb{
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li{
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width:60px;
}
.sci{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.sci li{
  list-style-type: none;
}
.sci li a{
  display: inline-block;
  margin: 15px 0;
  width: 35px;
  height:35px;
  border-radius: 50%;
  box-shadow: var(--inner-shadow);
  text-decoration: none;
  transition: .5s ease;
}
.sci li a i{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: invert(20); */
  color: white;
}
.sci li a:hover{
  transform: scale(1.1);
  box-shadow: var(--outer-shadow);
}
.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  clip-path: circle(630px at right 800px);
}



/* Responsiveness */
@media(max-width:1030px){
  .content .textBox h2 {
    font-size:2.5em;
  }
  .content .imgBox {
    width:450px;
    padding-right:10px;
  }
  .content .imgBox img {
    max-width:280px;
  }
  .circle {
    clip-path: circle(570px at right 800px);
  }
}
@media(max-width:770px){
  .content{
    flex-direction: column;
  }
  nav{
    position: absolute;
    top: 0;
    right:-300px;
    background-color:var(--bg);
    box-shadow: var(--shadow2);
    width:15rem;
    min-height: 100vh;
    transition: .5s ease;
  }
  nav.active{
    right: 0;
  }
  nav .nav{
    position: relative;
    flex-direction: column;
    gap:1rem;
    margin-top:5rem;
  }
  .menu{
    display:block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .close{
    display:block;
    position: absolute;
    top:-45%;
    left:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content .imgBox {
    width:500px;
    padding-right:10px;
  }
  .content .imgBox img {
    max-width:350px;
  }
  .circle {
    clip-path: circle(450px at right 800px);
  }
  .sci{
    top:60%;
  }
  .thumb{
    left:30%;
  }
}

@media(max-width:426px){
  section{
    padding: 100px 50px;
  }
  header{
    padding: 20px 50px;
  }
  .content .textBox h2 {
    font-size: 2em;
 }
  .content .imgBox {
    width:320px;
    padding-right:70px;
  }
 .circle {
  clip-path: circle(350px at right 800px);
  }
  
  .sci {
    top:70%;
  }
  .thumb {
    left:40%;
    bottom:10px;
  }
  .thumb img{
    width:40px;
  }
}
@media(max-width:376px){
  nav{
    width: 12rem;
  }
}
@media(max-width:322px){
  section{
    padding: 100px 30px;
  }
  header{
    padding: 20px 30px;
  }
  .content .textBox h2 {
    font-size:1.5em;
 }
 .circle {
  clip-path: circle(300px at right 800px);
  }
  .sci {
    top:80%;
  }
  .content .imgBox {
    width:270px;
    padding-right:70px;
  }

}